name: bash-workflow

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out filesystem
        uses: actions/checkout@v3

      - name: Run a name.sh file
        run: |
         chmod +x name.sh
         ./name.sh
        shell: bash
